 body {
        background-color: black;
        }
        img {
        width: 70%;
        border: 1px solid black;
        }
        input {
        width:50%;
        border:1px solid black;
        }
        h3 {
        color: white;
        side: left;
        }